<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Carpe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body style="background:#dedede;">
    <!--Header-->
    <%- include('partials/header') %>
    <div class="container">
        <div class="row">
        <div class=" card col-lg-12 right-card">
            <div class="card-deck projects">
            <div class="card project">
                <div class="card-body">
                <a href="dashboard/form1-display" class="card-title">Form title 1</a>
                </div>
            </div>
            <div class="card project">
                <div class="card-body">
                <a href="dashboard/form2-display" class="card-title">Form title 2</a>
                </div>
            </div>
            <div class="card project">
                <div class="card-body">
                <a href="#" class="card-title">Form title 3</a>
                </div>
            </div>
            </div>
        </div>
        </div>
        <br>
        <div class="card row">
            <div class="card-body">
                <h5 class="card-title">Create new form</h5>
                <a class="btn btn-outline-primary"href="#">New Form</a>
            </div>
        </div>
    </div>
    <!--Footer-->
<%- include('partials/footer') -%>
