<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="login.css">
        <title>CARPE Project</title>
    </head>
    <body style="background:#dedede;">
          <%- include('partials/header') %>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">Project Name</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Form Name</li>
                        </ol>
                    </nav>
                   <br>
                   <div style="display:inline">
                        <label for="periodicity">Periodicity : </label>
                        <select class="custom-select" Name="periodicity">
                            <option value="daily">daily</option>
                            <option value="weekly">weekly</option>
                            <option value="monthly">monthly</option>
                        </select>
                   </div>
                    <br>
                    <div style="display:inline;">
                        <br>
                        <div>
                            Start Date :
                            <input type="date" name="startDate" placeholder="dd/mm/yy" required>
                        </div>
                        <br>
                        <div>
                            End Date :
                            <input type="date" name="endDate" placeholder="dd/mm/yy" required>
                        </div>

                    </div>
                    <br><br>
                    <h5>Pictorial Representation comes here</h5>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Want to add an other entry</h3>
                    <a href="/form2" class="btn btn-outline-success">Add Entry</a>
                </div>
            </div>
        </div>
<%- include('partials/footer') -%>
