<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARPE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="first-page.css">
</head>
<body>
    <header class="site">
        <%- include("header") -%>
        <section>
            <div class="leftside">
                <img src="carpe-logo.jpg" alt="carpe-logo">
            </div>
            <div class="rightside" style="display:inline">
                <a class="btn btn-success" style="width:200px;height:50px;margin-right:5px;" href="#">Signup</a>
                <a class="btn btn-success" style="width:200px;height:50px;" href="#">Login</a>
            </div>
        </section>
    </header>

<%- include("footer") -%>
