<footer>
  <section class="foot light">
    <i class=" icon fab fa-facebook-square"></i>
    <i class="icon fab fa-instagram"></i>
    <i class="icon fab fa-youtube"></i>
    <i class="fab fa-linkedin-in icon"></i>
    <p>
      CARPE <i class="far fa-copyright"></i> all rights reserved 2020<br />made in <strong>COVID</strong>
    </p>
  </section>

</footer>
</body>

</html>
